<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <div class="sidebar-wrapper">
              <div class="logo">
                  <a href="admin/index" class="simple-text">
                      Cf 81
                  </a>
              </div>
  
              <ul class="nav">
                  <li>
                      <a href="admin/account-info">
                          <i class="ti-user"></i>
                          <p>Thông tin cá nhân</p>
                      </a>
                  </li>
                  <li>
                      <a href="admin/type">
                          <i class="ti-direction-alt"></i>
                          <p>Quản lý cà phê</p>
                      </a>
                  </li>
                  <li >
                      <a href="admin/member">
                          <i class="ti-menu"></i>
                          <p>Quản lý khách hàng</p>
                      </a>
                  </li>
                  <li class="active">
                      <a href="admin/bill">
                          <i class="ti-pencil-alt"></i>
                          <p>Thông kê hóa đơn</p>
                      </a>
                  </li>
                  
                  <li class="active-pro">
                      <a href="admin/index">
                          <i class="ti-home"></i>
                          <p>Xem trang chủ</p>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  
      <div class="main-panel">
      <nav class="navbar navbar-default">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar bar1"></span>
                          <span class="icon-bar bar2"></span>
                          <span class="icon-bar bar3"></span>
                      </button>
                      <a class="navbar-brand" href="#">Thống kê hóa đơn</a>
                  </div>
                  <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav navbar-right">
                                  <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  
                                              <p>&nbsp;Đăng Xuất &nbsp;</p>
                                        </a>
                                  </li>
                              </ul>
                      <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <img src="../../assets/admin/assets/img/faces/face-0.jpg" class="img_avatar img-responsive" alt="Cinque Terre"/>
                                      <p>&nbsp;TRIEU &nbsp;</p>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a href="DangXuat">Đăng xuất</a></li>
                                  
                                </ul>
                          </li>
                      </ul>
                     
  
                  </div>
              </div>
          </nav>
  
  
          <div class="content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="btn-group" style="float: left; padding-bottom: 15px;padding-left: 17px;">
                                  <form action="searchAccount" method="post">
                                      <input style="float: left; width: 75%" class="form-control border-input" type="text" name="search" placeholder="Search">
                                      <button type="submit" style="float: right; margin-top: 2px;" class="btn btn-default"><i class="ti-search"></i></button>
                                  </form>
                              </div>
                          </div>
                          <div class="card">
                              <div class="header" style="float: left;">
                                  <h4 class="title">Danh sách hóa đơn</h4>
                                  <p class="category"></p>
                              </div>
                             
                              <div class="clearfix"></div>
                              <div class="content table-responsive table-full-width">
                                  <table id="tablepaging" class="table table-striped">
                                      <thead>
                                          <th>ID</th>
                                          <th>Tên khách hàng</th>
                                          <th>Email</th>
                                          <th>Số điện thoại</th>
                                          <th>Tổng tiền</th>
                                          <th>Chi tiết hóa đơn</th>
                                      </thead>
                                      <tbody>
                                          
                                              <tr>
                                                  <td>1</td>
                                                  <td>
                                                      <div >
                                                          <span>
                                                          Trần Quang Triều
                                                          </span>
                                                      </div>
                                                  </td>
                                                  <td>trieu@gmail.com</td>
                                                  <td>012365789</td>
                                                  <td>1000000 vnđ</td>
                                                  <td><a href="viewAccountInfo?userName=${listAccount.username}" 
                                                  style="font-size: 16px; color: black; padding-left: 30px;" class="ti-pencil-alt"></a></td>
                                                  <td><a href="deleteAccount?userName=${listAccount.username}" onclick="return getConfirmation();" 
                                                  style="font-size: 16px; color: #d45f31; padding-left: 30px;" class="ti-trash"></a></td>
                                              </tr>
                                         
                                      </tbody>
                                  </table> 
                                  <div id="pageNavPosition" style="padding-top: 20px" align="center"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <app-footer></app-footer>
      </div>
  </div>