<div class="wrapper">
        <app-admin-menu></app-admin-menu>
	<!-- <div class="sidebar" data-background-color="white" data-active-color="danger">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="admin/index" class="simple-text">
                    Cf 81
                </a>
            </div>
            <app-admin-menu></app-admin-menu>
             <ul class="nav">
                <li>
                    <a href="admin/account-info">
                        <i class="ti-user"></i>
                        <p>Thông tin cá nhân</p>
                    </a>
                </li>
                <li>
                    <a href="admin/type">
                        <i class="ti-direction-alt"></i>
                        <p>Quản lý cà phê</p>
                    </a>
                </li>
                <li>
                    <a href="admin/member">
                        <i class="ti-menu"></i>
                        <p>Quản lý khách hàng</p>
                    </a>
                </li>
                <li>
                    <a href="admin/bill">
                        <i class="ti-pencil-alt"></i>
                        <p>Thông kê hóa đơn</p>
                    </a>
                </li>
                
                <li class="active-pro">
                    <a href="admin/index">
                        <i class="ti-home"></i>
                        <p>Xem trang chủ</p>
                    </a>
                </li>
            </ul> 
        </div>
    </div> -->

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Trang chủ </a>
                </div>
                <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                
                                            <p>&nbsp;Đăng Xuất &nbsp;</p>
                                      </a>
                                </li>
                            </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="../../assets/admin/assets/img/faces/face-0.jpg" class="img_avatar img-responsive" alt="Cinque Terre"/>
                                    <p>&nbsp;TRIEU &nbsp;</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="DangXuat">Đăng xuất</a></li>
                                
                              </ul>
                        </li>
                    </ul>
                   

                </div>
            </div>
        </nav>


        <div class="content">
            <app-modal-account-info></app-modal-account-info>
        </div>
        <app-footer></app-footer>
    </div>
</div>