<app-header></app-header>
<div class="content">
  <!---start-services---->
  <div class="services">
    <div class="wrap">
      <div class="specials">
        <div class="specials-heading">
          <label>
            <a href="#" title="Trang Chủ">Trang Chủ</a>
            |
            <a href="#" title="Sản phẩm">Sản Phẩm</a>
            |
            <a href="#" title="Cà phê C11">Cà phê gia lai</a>
          </label>

          <div class="clear"> </div>
          <h3>Cà phê gia lai</h3>
          <figure class="box_title_img">
            <img src="../../assets/member/images/icons/img_title.png">
          </figure>

          <div class="clear"> </div>
          <label></label>
        </div>
        <div class="clear"> </div>

        <div class="clear"> </div>
      </div>

    </div>
  </div>
  <div class="box_pages">
    <div class="box_pro_list">
      <div class="pro_list_left">
        <figure>
          <img alt=" Classic - Số 3 (500g)" src="https://classiccoffee.com.vn/img/postings/classic-so-3-500g-co6gK3.jpg">

        </figure>
        <div class="small_image">
          <ul class="small_image_content slick-initialized slick-slider slick-vertical">


            <div class="slick-list draggable" style="height: 438px;">
              <div class="slick-track" style="opacity: 1; height: 146px; transform: translate3d(0px, 0px, 0px);">
                <li class="slick-slide slick-current slick-active" tabindex="0" style="width: 166px;" data-slick-index="0" aria-hidden="false">
                  <a tabindex="0">
                    <img alt=" Classic - Số 3 (500g)" src="https://classiccoffee.com.vn/img/postings/classic-so-3-500g-co6gK3.jpg">
                  </a>
                  
                </li>
              </div>
            </div>
          </ul>
          <ul class="arrow_pro">
            <li class="next_small_image slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
              <i class="fa fa-angle-up "></i>
            </li>
            <li class="prev_small_image slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
              <i class="fa fa-angle-down"></i>
            </li>
          </ul>
        </div>
        <div class="small_image">
            <ul class="small_image_content slick-initialized slick-slider slick-vertical">


              <div class="slick-list draggable" style="height: 438px;">
                <div class="slick-track" style="opacity: 1; height: 146px; transform: translate3d(0px, 0px, 0px);">
                  <li class="slick-slide slick-current slick-active" tabindex="0" style="width: 166px;" data-slick-index="0" aria-hidden="false">
                    <a tabindex="0">
                      <img alt=" Classic - Số 3 (500g)" src="https://classiccoffee.com.vn/img/postings/classic-so-3-500g-co6gK3.jpg">
                    </a>
                    
                  </li>
                </div>
              </div>
            </ul>
            <ul class="arrow_pro">
              <li class="next_small_image slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
                <i class="fa fa-angle-up "></i>
              </li>
              <li class="prev_small_image slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
                <i class="fa fa-angle-down"></i>
              </li>
            </ul>
          </div>


      </div>
      <div class="pro_list_right">
        <label class="fl_ma">Mã sản phẩm:
          <b class="fl_font_saigon">CF-15</b>
        </label>
        <div class="fl_ma">Tên sản phẩm:
          <label class="price_sale fl_font_saigon">Classic - Số 3 (500g)</label>
        </div>
        <div class="fl_ma">Giá:
          <label class="price_sale fl_font_saigon">280.000
            <b>
              VNĐ</b>
          </label>
        </div>
        <div class="fl_ma fl_color_999">Danh mục:
          <i>Rang Xay Đóng Gói</i>
        </div>
        <div class="fl_ma fl_color_999">Lượt xem:
          <i>100</i>
        </div>
        <div class="description">
          <div class="addthis_inline_share_toolbox"></div>
        </div>
        <div class="cart_button">





          <label data-id="15" class="fl_thanhtoan addcart">
            <input type="button" class="btn" value="Đặt hàng">
          </label>
        </div>
        <div class="box_title">
          <label style="font-size: 1.8em">
            <a class="fl_color_034" href="javascript:voi(0);">
              mô tả sản phẩm </a>
          </label>
        </div>
        <div class="box_product">
          <div class="box_content">
            Classic - Số 3 (500g) </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>