<app-header></app-header>
<div class="content">
  <!---start-services---->
  <div class="services">
    <div class="wrap">
      <div class="specials">
        <div class="specials-heading">
          <label>
            <a  href="#" title="Cà phê rang xay">CÀ PHÊ RANG XAY</a>
            <a href="#" class="viewmore">Xem Thêm ></a>
          </label>
          
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <div class="specials-grids">
          <div class="special-grid">
            <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
            <a href="product/detail">
              <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
            </a>
            <a href="product/detail">
              Cà phê 1
              <div class="clear"> </div>
              (500g)
            </a>
            
            <h3>450.000 VNĐ</h3>
          </div>
          <div class="special-grid">
              <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
              <a href="product/detail">
                <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
              </a>
              <a href="product/detail">
                Cà phê 1
                <div class="clear"> </div>
                (500g)
              </a>
              
              <h3>450.000 VNĐ</h3>
            </div>
            <div class="special-grid spe-grid">
                <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                <a href="product/detail">
                  <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                </a>
                <a href="detail_product.html">
                  Cà phê 1
                  <div class="clear"> </div>
                  (500g)
                </a>
                
                <h3>450.000 VNĐ</h3>
              </div>
          
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="specials">
          <div class="specials-heading">
            <label>
              <a  href="#" title="Cà phê rang xay">CÀ PHÊ RANG XAY</a>
              <a href="#" class="viewmore">Xem Thêm ></a>
            </label>
            
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <div class="specials-grids">
            <div class="special-grid">
              <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
              <a href="product/detail">
                <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
              </a>
              <a href="#">
                Cà phê 1
                <div class="clear"> </div>
                (500g)
              </a>
              
              <h3>450.000 VNĐ</h3>
            </div>
            <div class="special-grid">
                <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                <a href="product/detail">
                  <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                </a>
                <a href="#">
                  Cà phê 1
                  <div class="clear"> </div>
                  (500g)
                </a>
                
                <h3>450.000 VNĐ</h3>
              </div>
              <div class="special-grid spe-grid">
                  <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                  <a href="product/detail">
                    <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                  </a>
                  <a href="#">
                    Cà phê 1
                    <div class="clear"> </div>
                    (500g)
                  </a>
                  
                  <h3>450.000 VNĐ</h3>
                </div>
            
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
        </div>
        <div class="specials">
            <div class="specials-heading">
              <label>
                <a  href="#" title="Cà phê rang xay">CÀ PHÊ RANG XAY</a>
                <a href="#" class="viewmore">Xem Thêm ></a>
              </label>
              
              <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="specials-grids">
              <div class="special-grid">
                <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                <a href="product/detail">
                  <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                </a>
                <a href="#">
                  Cà phê 1
                  <div class="clear"> </div>
                  (500g)
                </a>
                
                <h3>450.000 VNĐ</h3>
              </div>
              <div class="special-grid">
                  <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                  <a href="product/detail">
                    <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                  </a>
                  <a href="#">
                    Cà phê 1
                    <div class="clear"> </div>
                    (500g)
                  </a>
                  
                  <h3>450.000 VNĐ</h3>
                </div>
                <div class="special-grid spe-grid">
                    <!-- <img src="images/slider2.jpg" title="image-name" width="70%" height="50%"> -->
                    <a href="product/detail">
                      <img src="../../assets/member/images/slider11.jpg" title="image-name" width="70%" height="50%">
                    </a>
                    <a href="#">
                      Cà phê 1
                      <div class="clear"> </div>
                      (500g)
                    </a>
                    
                    <h3>450.000 VNĐ</h3>
                  </div>
              
              <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
          </div>
    </div>
  </div>
<app-footer></app-footer>