<app-header></app-header>
<div class="content">
  <!---start-services---->
  <div class="services">
    <div class="wrap">
      <div class="specials">
        <div class="specials-heading">
          <label>
            <a href="#" title="Giỏ Hàng">Giỏ Hàng </a>
          </label>

          <div class="clear"> </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">Hình ảnh</td>
                  <td class="text-left">Tên sản phẩm</td>
                  <td class="text-left">Dòng sản phẩm</td>
                  <td class="text-left">Số lượng</td>
                  <td class="text-right">Đơn Giá</td>
                  <td class="text-right">Tổng cộng</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    <a href="http://www.cafenguyenchatgiare.com/index.php?route=product/product&amp;product_id=67">
                      <img src="http://www.cafenguyenchatgiare.com/image/cache/catalog/hinhanhmoi/cfb-1-47x47.jpg" alt="CÀ PHÊ BỘT LOẠI 1: RO – CULI – MOKA"
                        title="CÀ PHÊ BỘT LOẠI 1: RO – CULI – MOKA" class="img-thumbnail">
                    </a>
                  </td>
                  <td class="text-left">
                    <a href="http://www.cafenguyenchatgiare.com/index.php?route=product/product&amp;product_id=67">CÀ PHÊ BỘT LOẠI 1: RO – CULI – MOKA</a>
                    <span class="text-danger">***</span>
                  </td>
                  <td class="text-left">CÀ PHÊ BỘT PHA MÁY</td>
                  <td class="text-left">
                    <div class="input-group btn-block" style="max-width: 200px;">
                      <input type="text" name="quantity[6]" value="2" size="1" class="form-control">
                      <span class="input-group-btn">
                        <button type="submit" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Cập nhật">
                          <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="cart.remove('6');" data-original-title="Loại bỏ">
                          <i class="fa fa-times-circle"></i>
                        </button>
                      </span>
                    </div>
                  </td>
                  <td class="text-right">110.000đ</td>
                  <td class="text-right">220.000đ</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="text-right">
                      <strong>Thành tiền:</strong>
                    </td>
                    <td class="text-right">220.000đ</td>
                  </tr>
                  <tr>
                    <td class="text-right">
                      <strong>Tổng cộng :</strong>
                    </td>
                    <td class="text-right">220.000đ</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="buttons">
            <div class="pull-left">
              <a href="#" class="btn btn-default">Tiếp tục mua hàng</a>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-primary">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>